<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SDET">
<parameter name="browser" value="Chrome"></parameter>
<parameter name="url" value="https://www.automationanywhere.com/"></parameter>
  <test name="Automation">
   <classes>
     <class name="sdet.TestNG1"/>
     <class name="sdet.TestNG2"></class>
   </classes>
  </test>
</suite>
